body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 240, 238);
    background-image: url('./fondo1.jpg'); /* Imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-attachment: fixed; /* Fija la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#registroForm{
    background-color: rgb(62, 93, 100);
    color: white;
    padding: 25px;
    border-radius: 20px;
    margin: 25px;
    box-shadow: 1px 1px 10px rgb(25, 4, 53);
}

label{
    display: block;
    margin-bottom: 10px;
}

label.inline{
    display: inline-block;
}

input, select{
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="checkbox"]{
    margin-top: 15px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select{
    width: 100%;
    border-radius: 20px;
}

input[type="submit"]{
    background-color: rgb(223, 107, 217);
    font-size: 1.5rem;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
    transition: .5s ease;
    margin-top: 10px;
}

input[type="submit"]:hover{
    background-color: rgb(105, 126, 105);
}

.error{
    color: rgb(223, 93, 93);
    font-size: 15px;
}
.error:hover{
    color: rgb(248, 238, 238);
    font-size: 15px;
}

